name: deploy

on:
  push:
    branches:
      - master

jobs:

  job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v2.3.4
        with:
          submodules: recursive

      - name: Install and Build
        run: |
          npm install
          npm run build-production --if-present
          npm run build-docs

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: .
